/* Place project-specific CSS here */
/* render Arabic as rtl */

[lang="ar"]{
    direction:rtl;
    text-align:right;
}
[lang="en"]{
    direction:ltr;
    text-align:left;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tocify/1.9.0/stylesheets/jquery.tocify.css" />