

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#table-container-table {
  background-color: red !important;
}

#table-container-table thead {
	position: sticky !important;
  top: 0 !important;
  background-color: #F9F8F8 !important;
}


div.dataTables_wrapper div.dataTables_filter {
    text-align: left !important;
}
	
.panel-heading span
    {
        margin-top: -20px;
        font-size: 15px;
    }
  .clickable
    {
        cursor: pointer;
    }
#bloc-infos {font-size:80%;overflow-x:scroll;
overflow-y:scroll;}
#bloc-texte {
overflow-x:scroll;
overflow-y:scroll;
max-height:600px;
font-size:80%;
}
.cle {font-weight:bold; 
border-right: 1px solid red;}
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}






